<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="canonical" href="https://..."/>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    {{#each style}}
    <link rel="stylesheet" type="text/css" href="/css/{{this}}"></link>
    {{/each}}
  </head>
  <body>
    <div class="">
      <p>
	The COLA rate for {{changed.country}} ({{changed.post}}) has changed from
	<strong>{{#if changed.previous_allownance}}{{changed.previous_allowance}}{{else}}{{changed.prevAllowance}}{{/if}}% </strong>
	to <strong>{{changed.allowance}}%</strong>.
      </p>
      <p>
	Management template attached.
      </p>
    </div>
    <br><br><br><br>
    {{#if fileError}}
    <br><br>
    <div>
      <p class="fileError">
	The template file {{errorFilename}} uploaded by {{username}},
	for {{changed.country}} ({{changed.post}}),
	is either of an unsupported format (not .doc or .docx),
	or is corrupted. Please login to <a href="{{host}}/login">{{host}}/login</a> to remedy problem.
	It is recommended that you unsubscribe from this post
	and create a new subscription to this post with a new template file.
      </p>
    </div>
    {{/if}}
    <footer>
      <p>
	{{username}} is subscribed to receive COLA rate changes related
	to {{changed.country}} ({{changed.post}}).
      </p>
      <div>
	<a href="{{host}}/subscriptions">Manage Subscription</a> | 
	<a href="{{host}}/unsubscribetok?tok={{jwt}}">Unsubscribe</a>
      </div>
    </footer>
  </body>
</html>

