<div class="inlineBlock container d-flex">
  <h1 class="h2 border-bottom px-2 pt-4 pb-2"><strong>Manage Subscriptions </strong></h1>
</div>

<div class="container-fluid">
  <div class="row" id="viewSubscriptionsContainer">
    <!-- first row in main screen -->
    <div class="col-12">
      <div class="row justify-content-around">
	<div class="width-100" id="subscriptionsOuterContainer">
	  <div class="mx-3">
	    <div id="unsubscribeAlertBlank" class="unsubscribeAlert">
	      <div class="usa-alert usa-alert--info">
		<div class="dismiss-alert">
		  <span role="button" class="dismiss-alert-button"></span>
		</div>
		<div class="usa-alert__body">
		  <h3 class="usa-alert__heading">placeholder</h3>
		  <p class="usa-alert__text">undefined</p>
		</div>
	      </div>
	    </div>

	    <div id="unsubscribeAlertSuccess" class="unsubscribeAlert" style="display:none">
	      <div class="usa-alert usa-alert--warning">
		<div class="dismiss-alert"
		     onclick="dismiss_alert(this.parentNode.parentNode)">
		  <span role="button" class="dismiss-alert-button"></span>
		</div>
		<div class="usa-alert__body">
		    <h3 class="usa-alert__heading">Unsubscribed!
		      <a id="undoLink" href="#" class="usa-link sm">undo</a>
		    </h3>
		 
		  <p class="usa-alert__text">You have unsubscribed from <span class="unsubscribeMsgSpan">{error}</span></p>
		</div>
	      </div>
	    </div>
	    <div id="resubscribeAlertSuccess" class="unsubscribeAlert" style="display:none">
	      <div class="usa-alert usa-alert--success">
		<div class="dismiss-alert"
		     onclick="dismiss_alert(this.parentNode.parentNode)">
		  <span role="button" class="dismiss-alert-button"></span>
		</div>
		<div class="usa-alert__body">
		  <h3 class="usa-alert__heading">Undone!</h3>
		  <p class="usa-alert__text">You have resubscribed to <span class="unsubscribeMsgSpan">{error}</span></p>
		</div>
	      </div>
	    </div>

	    <div id="unsubscribeAlertError" class="unsubscribeAlert" style="display:none">
	      <div class="usa-alert usa-alert--error">
		<div class="dismiss-alert"
		     onclick="dismiss_alert(this.parentNode.parentNode)">
		  <span role="button" class="dismiss-alert-button"></span>
		</div>
		<div class="usa-alert__body">
		  <h3 class="usa-alert__heading">Error unsubscribing!</h3>
		  <p class="usa-alert__text">Unable to unsubscribe from <span class="unsubscribeMsgSpan">{error}</span> at this time</p>
		</div>
	      </div>
	    </div>
	    <div id="downloadSubscriptionAlertError" class="unsubscribeAlert" style="display:none">
	      <div class="usa-alert usa-alert--error">
		<div class="dismiss-alert"
		     onclick="dismiss_alert(this.parentNode.parentNode)">
		  <span role="button" class="dismiss-alert-button"></span>
		</div>
		<div class="usa-alert__body">
		  <h3 class="usa-alert__heading">Error downloading!</h3>
		  <p class="usa-alert__text">Something unexpected occurred when attempting to download template for <span id="downloadSubscriptionErrorMsgSpan">{error}</span>. Unable to download at this time.</p>
		</div>
	      </div>
	    </div>
	    <div id="fireSubscriptionEmailAlertError" class="unsubscribeAlert" style="display:none">
	      <div class="usa-alert usa-alert--error">
		<div class="dismiss-alert"
		     onclick="dismiss_alert(this.parentNode.parentNode)">
		  <span role="button" class="dismiss-alert-button"></span>
		</div>
		<div class="usa-alert__body">
		  <h3 class="usa-alert__heading">Error sending email!</h3>
		  <p class="usa-alert__text">Something unexpected occurred when attempting to send email to <span id="fireSubscriptionEmailErrorToSpan">{error}</span> for subscription to <span id="fireSubscriptionEmailErrorMsgSpan">{error}</span>. Unable to send email at this time.</p>
		</div>
	      </div>
	    </div>
	  </div>
	  <div class="mt-2" id="tableContainer">
	    <div id="tableCover"></div>
	    <h2 class="h4 pl-4 py-3" id="currentSubscriptions">
	      <b>Current Subscriptions</b>
	    </h2>

	    <div id="subscriptionsContainer" class="">
	      <input id="userEmail" style="display:none" value="{{email}}">
	      <table class="table" id="subscriptionsTable">
		<thead>
		  <tr>
		    <th scope="col">
		      <i id="tableSpinner" class="fa fa-spinner fa-spin" style="display:none"></i>
		    </th>
		    <th scope="col">Country</th>
		    <th scope="col">Post</th>
		    <th scope="col">Allowance</th>
		    <th scope="col">Previous Allowance</th>
		    <th scope="col">Effective Date</th>
		  </tr>
		</thead>
		
		<tbody class="subscriptions" id="subscriptionTbody">

		</tbody>
	      </table>
	      <div id="noActiveSubscriptions" class="ml-4" style="display:none;">
		You have no active subscriptions. <a class="usa-link" href="#addSubscriptionsContainer">Add subscription</a>
	      </div>
	      <div id="subscriptionsContainerSpinner">
		<i class="fa fa-spinner fa-spin spinner ml-4"></i>
	      </div>
	    </div>
	    <div id="prevAllowanceWarning" class="ml-2 my-1 sm" style="display:none">
	      <sup class="md">*</sup>
	      Unable to retrieve previous allowance at this time.
	    </div>
	  </div>
	</div>
      </div>
      <br><br><br><br>
    </div>
  </div>
</div>
<!-- second row in main screen -->
<div id="lowerContentArea" class="container-fluid pt-5">
  <div class="row mt-5 pb-3 justify-content-around" id="addSubscriptionsContainer">
    <!-- main center screen -->
    <div class="col-12 pt-3 pb-3 mb-4 mt-4" id="subscriptionContainer">
      <h2 class="h4 ml-4"><b>Add Subscription</b></h2>
      <div id="successContainer" class="alert" style="display:none">
	<div class="usa-alert usa-alert--success">
	  <div class="usa-alert__body">
	    <h3 class="usa-alert__heading">Subscribed!</h3>
	    <p class="usa-alert__text">You subscribed to <span id="successSpan">{error}</span></p>
	    <p class="usa-alert__text"><a class="usa-link" id="subscribeAdditional" href="#subscribeContainer">Subscribe to additional posts</a></p>
	  </div>
	</div>
	<br>
      </div>
      <div id="infoContainer" class="alert">
	<div class="usa-alert usa-alert--info" id="addSubscription">
	  <div class="usa-alert__body">
	    <h3 class="usa-alert__heading">New subscription</h3>
	    <p class="usa-alert__text val postVal">Select a post</p>
	    <p class="usa-alert__text templateVal val">Choose template</p>
	  </div>
	</div>
	<br>
      </div>
      <div id="warningContainer" class="alert" style="display:none">
	<div class="usa-alert usa-alert--warning" id="">
	  <div class="usa-alert__body">
	    <h3 class="usa-alert__heading">New subscription</h3>
	    <p class="usa-alert__text"><strong>Invalid file</strong></p>
	    <p class="usa-alert__text val postVal">Select a post</p>
	    <p class="usa-alert__text templateVal val">Choose template</p>
	  </div>
	</div>
      </div>
      <div id="errorContainer" class="alert" style="display:none">
	<div class="usa-alert usa-alert--error" id="">
	  <div class="usa-alert__body">
	    <h3 class="usa-alert__heading">New subscription - error</h3>
	    <p class="usa-alert__text"><strong>Something has gone wrong!</strong></p>
	    <p class="usa-alert__text val postVal">Select a post</p>
	    <p class="usa-alert__text templateVal val">Choose template</p>
	  </div>
	</div>
      </div>
      <div id="subscriptionFormContainer">
	<form id="addPostForm" class="">
	  
	  <!-- 1. choose a post -->
	  <div class="">
	    <div class="">
	      <label for="postSelect" class="usa-label mt-2 ml-2 mr-2"><strong>1. Post</strong></label>
	      <select id="postSelect" class="usa-select input-max-width" placeholder="Search for post" onchange="validate_subscription()">
		<option></option>
		{{#each post_info}}
		<option data-COLARatesId="{{this.id}}">{{this.country}} ({{this.post}})</option>
		{{/each}}
	      </select>
	    </div>
	    <!-- 2 upload template -->
	    <div id="templateGroup">
	      <div class="mt-3">
		<label for="uploadTemplate" class="ml-2 usa-label"><strong>2. Template (doc/docx) </strong><a class="usa-link sm" href="/FAQ">Help?</a></label>
		<span class="usa-error-message" id="uploadTemplateErrorMsg" role="alert"
		      style="display:none">File does not appear to be doc/docx</span>
		<input type="file" accept=".doc, .docx" id="uploadTemplate"
		       class="usa-input btn btn-sm input-max-width"
		       placeholder="Upload a template" onchange="validate_subscription()">
	      </div>
	      <!-- Or use one of my other templates... -->
	      <div class="mt-2">
		<label for="templateSelect" class="usa-label ml-2">
		  <strong>...or use a previous templates...</strong></label>
		<span class="usa-error-message" id="previousTemplateErrorMsg" role="alert"
		      style="display:none">File does not appear to be doc/docx</span>
		<span class="usa-error-message" id="previousTemplateErrorMsgPreview"
		      role="alert" style="display:none">
		  Must select previous template to preview</span>
		<span class="usa-error-message" id="previousTemplateErrorMsgDownload"
		      role="alert" style="display:none">
		  Must select previous template to download</span>
		<select id="templateSelect" class="usa-select input-max-width" onchange="validate_subscription()">
		  <option></option>
		  {{#each templates}}
		  <option data-templateId="{{this.id}}">{{this.name}}</option>
		  {{/each}}
		</select>
		<div class="text-right mr-4">
		  <span id="downloadTemplateSpan" class="">
		    
		    <button type="button" class="btn btn-link md" id="downloadPrevTemplate">Download</button>
		    
		    <button type="button" class="btn btn-link md" id="previewPrevTemplate">Preview</button>
		  </span>
		</div>
	      </div>
	    </div>
	    <!-- Preview or upload... -->
	    <div class="mt-3 mt-lg-1" id="addNewSubscriptionButtons">
	      <span id="newSubscriptionContainer">
		<button id="submitNewSubscription" class="ml-0 ml-md-4 btn usa-button"
			data-container="body" data-toggle="popover"
			data-placement="right">Subscribe</button>
	      </span>
	    </div>
	</form>
	</div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="previewTemplateModal" tabindex="-1" role="dialog" aria-labelledby="previewTemplates" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="h5 modal-title" id="previewTemplateLabel"></h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	<div id="previewCanvasContainer" class="d-flex justify-content-center">
	  <div id="canvasSpinnerContainer">
	  </div>
	  <div class="row justify-content-start justify-content-md-around">
	    <canvas id="previewCanvas" class="mb-4"></canvas>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>

