<div class="inlineBlock container d-flex">
  <h1 class="h2 border-bottom px-2 pt-4 pb-2"> Manage Subscriptions </h1>
</div>

<div class="container-fluid">
  <div class="row mt-4">
    <!-- left col -->
    <div class="col-0 col-md-1 col-lg-2">
    </div>
    <!-- main center screen -->
    <div class="col-12 col-md-10 col-lg-8">
      <div class="row justify-content-start">
	<div class="col-12 col-md-5 col-lg-5 mb-3">
	  <h2 class="h5 ml-4"><b>Email</b></h2>
	  <span class="ml-4">
	    {{#if email}}
	    {{this.email}}
	    {{else}}
	    (Error retrieving)
	    {{/if}}
	  </span>
	</div>
	<div class="col-12 col-md-7 col-lg-7" id="subscriptionContainer">
	  <!--	  <h2 class="h5 ml-4" id="addSubscription"><b>Add Subscription</b></h2>
	    -->
	  <div id="successContainer" class="alert" style="display:none">
	    <div class="usa-alert usa-alert--success">
	      <div class="usa-alert__body">
		<h3 class="usa-alert__heading">Subscribed!</h3>
		<p class="usa-alert__text">You subscribed to <span id="successSpan">{error}</span></p>
		<p class="usa-alert__text"><a id="subscribeAdditional" href="#subscribeContainer">Subscribe to additional posts</a></p>
	      </div>
	    </div>
	    <br><br><br>
	  </div>
	  <div id="infoContainer" class="alert">
	    <div class="usa-alert usa-alert--info" id="addSubscription">
	      <div class="usa-alert__body">
		<h3 class="usa-alert__heading">New subscription</h3>
		<p class="usa-alert__text val postVal">Select a post</p>
		<p class="usa-alert__text templateVal val">Choose template</p>
	      </div>
	    </div>
	    <br>
	  </div>
	  <div id="warningContainer" class="alert" style="display:none">
	    <div class="usa-alert usa-alert--warning" id="">
	      <div class="usa-alert__body">
		<h3 class="usa-alert__heading">New subscription</h3>
		<p class="usa-alert__text"><strong>Invalid file type</strong></p>
		<p class="usa-alert__text val postVal">Select a post</p>
		<p class="usa-alert__text templateVal val">Choose template</p>
	      </div>
	    </div>
	  </div>
	  <div id="errorContainer" class="alert" style="display:none">
	    <div class="usa-alert usa-alert--error" id="">
	      <div class="usa-alert__body">
		<h3 class="usa-alert__heading">New subscription - error</h3>
		<p class="usa-alert__text"><strong>Something has gone wrong!</strong></p>
		<p class="usa-alert__text val postVal">Select a post</p>
		<p class="usa-alert__text templateVal val">Choose template</p>
	      </div>
	    </div>
	  </div>
	  <div id="subscriptionFormContainer">
	    <form id="addPostForm" class="usa-form">
	      
	      <!-- 1. choose a post -->
	      <div class="">
		<div class="">
		  <label for="postSelect" class="usa-label mt-2 mr-2">1. Post</label>
		  <select id="postSelect" class="usa-select ml-4 input-max-width" placeholder="Search for post" style="max-width:400px" onchange="validate_subscription()">
		    <option></option>
		    {{#each post_info}}
		    <option data-COLARatesId="{{this.id}}">{{this.country}} ({{this.post}})</option>
		    {{/each}}
		  </select>
		</div>
		<!-- 2 upload template -->
		<div id="templateGroup">
		  <div class="mt-3">
		    <label for="uploadTemplate" class="usa-label">2. Template (doc/docx)</label>
		    <span class="usa-error-message" id="uploadTemplateErrorMsg" role="alert"
			  style="display:none">File does not appear to be doc/docx</span>
		    <input type="file" accept=".doc, .docx" id="uploadTemplate"
			   class="usa-input btn btn-sm ml-4 input-max-width"
			   placeholder="Upload a template" onchange="validate_subscription()">
		  </div>
		  <!-- Or use one of my other templates... -->
		  <div class="mt-2">
		    <label for="templateSelect" class="usa-label ml-2">
		      ...or use a previous templates...</label>
		    <span class="usa-error-message" id="previousTemplateErrorMsg" role="alert"
			  style="display:none">File does not appear to be doc/docx</span>
		    <span class="usa-error-message" id="previousTemplateErrorMsgPreview"
			  role="alert" style="display:none">
		      Must select previous template to preview</span>
		    <select id="templateSelect" class="usa-select ml-4 input-max-width" onchange="validate_subscription()">
		      <option></option>
		      {{#each templates}}
		      <option data-templateId="{{this.id}}">{{this.name}}</option>
		      {{/each}}
		    </select>
		    <div class="text-right">
<!--		      <a href="http://localhost:10000/test.pdf">Preview</a>
-->
		      <button type="button" class="btn btn-link" id="previewPrevTemplate">Preview</button>

		    </div>
		  </div>
		</div>
		<!-- Preview or upload... -->
		<div class="" id="addNewSubscriptionButtons">
		  <span id="newSubscriptionContainer">
		    <button id="submitNewSubscription" class="ml-0 ml-md-4 btn usa-button"
			    data-container="body" data-toggle="popover"
			    data-placement="right">Subscribe</button>
		  </span>
		</div>
	    </form>
	    </div>
	  </div>
	</div>
      </div>
      <!-- second row in main screen -->
      <div class="row justify-content-around mt-4 mb-4">
	<div class="col-12 mb-3">
	  <div class="row justify-content-start">
	    <div class="col-12">
	      <div id="unsubscribeAlertBlank" class="unsubscribeAlert">
		<br><br><br><br>
	      </div>
	      
	      <div id="unsubscribeAlertSuccess" class="unsubscribeAlert" style="display:none">
		<div class="usa-alert usa-alert--warning">
		  <div class="dismiss-alert"
		       onclick="dismiss_alert(this.parentNode.parentNode)">
		    <span role="button" class="dismiss-alert-button"></span>
		  </div>
		  <div class="usa-alert__body">
		    <span>
		      <h3 class="usa-alert__heading">Unsubscribed!
			<button id="undoLink" class="btn btn-link sm">undo</a>
		      </h3>
		    </span>
		    <p class="usa-alert__text">You have unsubscribed from <span class="unsubscribeMsgSpan">{error}</span></p>
		  </div>
		</div>
	      </div>
	      <div id="resubscribeAlertSuccess" class="unsubscribeAlert" style="display:none">
		<div class="usa-alert usa-alert--success">
		  <div class="dismiss-alert"
		       onclick="dismiss_alert(this.parentNode.parentNode)">
		    <span role="button" class="dismiss-alert-button"></span>
		  </div>
		  <div class="usa-alert__body">
		    <h3 class="usa-alert__heading">Undone!</h3>
		    <p class="usa-alert__text">You have resubscribed to <span class="unsubscribeMsgSpan">{error}</span></p>
		  </div>
		</div>
	      </div>

	      <div id="unsubscribeAlertError" class="unsubscribeAlert" style="display:none">
		<div class="usa-alert usa-alert--error">
		  <div class="dismiss-alert"
		       onclick="dismiss_alert(this.parentNode.parentNode)">
		    <span role="button" class="dismiss-alert-button"></span>
		  </div>
		  <div class="usa-alert__body">
		    <h3 class="usa-alert__heading">Error unsubscribing!</h3>
		    <p class="usa-alert__text">Unable to unsubscribe from <span class="unsubscribeMsgSpan">{error}</span> at this time</p>
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="col-12">
	  <div class="corner-border px-4" id="subscriptionsOuterContainer">
	    <div class="row">
	      <h2 class="h5" id="currentSubscriptions"><b>Current Subscriptions</b></h2>
	    </div>
	    <div id="subscriptionsContainer" class="row ml-1 mt-1">
	      <table class="table" id="subscriptionsTable">
		<thead>
		  <tr>
		    <th scope="col"></th>
		    <th scope="col">Post</th>
		    <th scope="col">Country</th>
		    <th scope="col">Allowance</th>
		    <th scope="col">Last Adjusted</th>
		  </tr>
		</thead>
		
		<tbody class="subscriptions" id="subscriptionTbody">

		</tbody>
	      </table>
	      <div id="noActiveSubscriptions" style="display:none;">
		You have no active subscriptions. <a href="#addSubscription">Add subscriptions</a>
	      </div>
	      <div id="subscriptionsContainerSpinner">
		<i class="fa fa-spinner fa-spin spinner"></i>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
      
    </div>
    <!-- right col -->
    <div class="col-0 col-md-1 col-lg-2">
    </div>
  </div>
</div>
<br>

<!-- Modal -->
<div class="modal fade" id="previewTemplateModal" tabindex="-1" role="dialog" aria-labelledby="previewTemplates" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="h5 modal-title" id="previewTemplateLabel"></h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	<div id="previewCanvasContainer" class="d-flex justify-content-center">
	  <div id="canvasSpinnerContainer">
	  </div>
	  <canvas id="previewCanvas" class="mb-4"></canvas> 
	</div>
      </div>
    </div>
  </div>
</div>

