<h1 class="text-center mt-4"> Manage Subscriptions </h1>
<div class="container-fluid">
  <div class="row mt-4">
    <!-- left col -->
    <div class="col-0 col-md-1 col-lg-2">
    </div>
    <!-- main center screen -->
    <div class="col-12 col-md-10 col-lg-8">
      <div class="row justify-content-around">
	<div class="col-12 col-md-4 col-lg-3">
	  
	  <h5 class="ml-4"><b>Email</b></h5>
	  <span class="ml-4">
	    {{#if email}}
	    {{this.email}}
	    {{else}}
	    (Error retrieving)
	    {{/if}}
	  </span>
	</div>
	<div class="col-12 col-md-6 col-lg-5">
	  <h5 class="ml-4"><b>Add Subscription</b></h5>
	  <form id="addPostForm">
	    <!-- 1. choose a post -->
	    <div class="">
	      <div class="">
		<label for="searchPosts" class="mt-2 mr-2">1. Choose a post</label>
		<select id="searchPosts" class="custom-select ml-4 input-max-width" placeholder="Search for post" style="max-width:400px">
		  <option>Posts</option>
		  {{#each post_info}}
		  <option data-COLARatesId="{{this.id}}">{{this.country}} ({{this.post}})</option>
		  {{/each}}
		</select>
	      </div>
	      <!-- 2 upload template -->
	      <div class="mt-3">
		<label for="uploadTemplate" class="">2. Choose a template</label>
		<input type="file" id="uploadTemplate" class="btn btn-sm ml-4 input-max-width" placeholder="Upload a template">
	      </div>
	      <!-- Or use one of my other templates... -->
	      <div class="mt-2">
		<label for="uploadTemplate" class="ml-2">...or reuse one of my previous templates...</label>
		<select id="choosePreviousTemplate" class="form-control ml-4 input-max-width">
		  <option>Previous templates</option>
		  {{#each templates}}
		  <option data-templateId="{{this.id}}">{{this.name}}</option>
		  {{/each}}
		</select>
	      </div>
	      <!-- Preview or upload... -->
	      <div class="mt-3">
		<label for="uploadTemplate" class="">3. Show me!</label>
		<button id="previewNewSubscription" class="btn btn-sm btn-secondary ml-3">Preview</button>
		<button id="submitNewSubscription" class="btn btn-sm btn-primary">Submit</button>
	      </div>
	  </form>
	  
	  </div>
	  
	</div>
      </div>
      <!-- second row in main screen -->
      <div class="row justify-content-around mt-4">
	<div class="col-12 col-md-10 col-lg-8">
	  <div class="mt-4 row corner-border">
	    <h5><b>Current Subscriptions</b></h5>
	    <table class="table">
	      <thead>
		<tr>
		  <th scope="col">Post</th>
		  <th scope="col">Country</th>
		  <th scope="col">Allowance</th>
		  <th scope="col">Last Adjusted</th>
		  <th scope="col"></th>
		</tr>
	      </thead>
	      <tbody class="subscriptions" id="subscriptionTbody">
		{{#each subscription_list}}
		<tr data-subscriptionId="{{this.subscriptionId}}">
		  <td>{{this.post}}</td>
		  <td>{{this.country}}</td>
		  <td>{{this.allowance}}</td>
		  <td>{{this.last_modified}}</td>
		  <td>
		    <button class="btn btn-sm btn-danger">
		      <span class="button">Remove</span>
		    </button>
		  </td>
		</tr>
		{{/each}}
	      </tbody>
	    </table>
	  </div>
	</div>
      </div>
      
    </div>
    <!-- right col -->
    <div class="col-0 col-md-1 col-lg-2">
    </div>
  </div>
</div>

<!-- modal stuff -->
<div id="previewModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Preview</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="center-text"><i class="fa fa-spinner fa-spin spinner"></i></p>
      </div>
      <div class="modal-footer">
	<button type="button" class="btn btn-primary">Save changes</button>
	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

