<div class="container d-flex justify-content-center">
  <h1 class="h2 inlineBlock border-bottom px-2 pt-4 pb-2"> Manage Subscriptions </h1>
</div>
<div class="container-fluid">
  <div class="row mt-4">
    <!-- left col -->
    <div class="col-0 col-md-1 col-lg-2">
    </div>
    <!-- main center screen -->
    <div class="col-12 col-md-10 col-lg-8">
      <div class="row justify-content-around">
	<div class="col-12 col-md-4 col-lg-3 mb-3">
	  <h2 class="h5 ml-4"><b>Email</b></h2>
	  <span class="ml-4">
	    {{#if email}}
	    {{this.email}}
	    {{else}}
	    (Error retrieving)
	    {{/if}}
	  </span>
	</div>
	<div class="col-12 col-md-6 col-lg-5">
	  <h2 class="h5 ml-4"><b>Add Subscription</b></h2>
	  <form id="addPostForm">
	    <div><p id="addSubscriptionMessageDiv"></p></div>
	    <!-- 1. choose a post -->
	    <div class="">
	      <div class="">
		<label for="searchPosts" class="mt-2 mr-2">1. Choose a post</label>
		<select id="searchPosts" class="custom-select ml-4 input-max-width" placeholder="Search for post" style="max-width:400px">
		  <option></option>
		  {{#each post_info}}
		  <option data-COLARatesId="{{this.id}}">{{this.country}} ({{this.post}})</option>
		  {{/each}}
		</select>
	      </div>
	      <!-- 2 upload template -->
	      <div class="mt-3">
		<label for="uploadTemplate" class="">2. Choose a template (doc/docx)</label>
		<input type="file" accept=".doc, .docx" id="uploadTemplate" class="btn btn-sm ml-4 input-max-width" placeholder="Upload a template">
	      </div>
	      <!-- Or use one of my other templates... -->
	      <div class="mt-2">
		<label for="uploadTemplate" class="ml-2">...or reuse a previous templates...</label>
		<select id="choosePreviousTemplate" class="form-control ml-4 input-max-width">
		  <option></option>
		  {{#each templates}}
		  <option data-templateId="{{this.id}}">{{this.name}}</option>
		  {{/each}}
		</select>
	      </div>
	      <!-- Preview or upload... -->
	      <div class="mt-3" id="addNewSubscriptionButtons">
		<label for="uploadTemplate" class="">3. Subscribe </label>
		<!--		<button id="previewNewSubscription" class="btn btn-sm btn-secondary ml-3">Preview</button>
		  -->
		<span id="newSubscriptionContainer">
		  <button id="submitNewSubscription" class="ml-4 btn btn-sm btn-primary"
			  data-container="body" data-toggle="popover"
			  data-placement="right">Submit</button>
		</span>
	      </div>
	  </form>
	  
	  </div>
	  
	</div>
      </div>
      <!-- second row in main screen -->
      <div class="row justify-content-around mt-4 mb-4">
	<div class="col-12">
	  <div class="mt-4 corner-border px-4" id="subscriptionsOuterContainer">
	    <div class="row">
	      <h2 class="h5" id=""><b>Current Subscriptions</b></h2>
	    </div>
	    <div id="subscriptionsContainer" class="row ml-1 mt-1">
	      <table class="table" id="subscriptionsTable">
		<thead>
		  <tr>
		    <th scope="col">Post</th>
		    <th scope="col">Country</th>
		    <th scope="col">Allowance</th>
		    <th scope="col">Last Adjusted</th>
		    <th scope="col"></th>
		  </tr>
		</thead>
		
		<tbody class="subscriptions" id="subscriptionTbody">

		</tbody>
	      </table>
	      <div id="subscriptionsContainerSpinner">
		<i class="fa fa-spinner fa-spin spinner"></i>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
      
    </div>
    <!-- right col -->
    <div class="col-0 col-md-1 col-lg-2">
    </div>
  </div>
</div>

<!-- modal stuff -->
<div id="previewModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="h5 modal-title">Preview</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="center-text">
	  <i class="fa fa-spinner fa-spin spinner"></i>
	</p>
      </div>
      <div class="modal-footer">
	<button type="button" class="btn btn-primary">Save changes</button>
	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

