<div class="container mt-2">
  {{#if unsubscribed}}
  {{#if deleted}}
  <h1 class="text-center mt-2">Unsubscribed!</h1>
  <div>
    {{username}} has been successfully unsubscribed from this subscription
    to {{country}} ({{post}}).
  </div>
  {{else if alreadyUnsubscribed}}
  <h1 class="text-center mt-2">Unsubscribed Already!</h1>
  <div>
    {{username}} has already been successfully unsubscribed from this
     subscription to {{country}} ({{post}}).
  </div>
  {{/if}}
  {{#if additionalSubs}}
  <!-- if user has more than one active subscription to the post they just tried
       to unsubscribe from, we should let them know to avoid confusion when they
       still receive emails about that post's rate changes
    -->
  <div>
    <p class="error">
      Note: {{username}} has {{numberAdditionalSubs}} additonal active subscriptions
      to {{country}} ({{post}}).
    </p>
  </div>
  {{/if}}
  <br>
  <div>
    <p>
      <a href="/login">Login</a> to manage other subscriptions.
    </p>
  </div>
  
  {{else if error}}
  <br><br>
  <div mt-4>Something terrible has happened!</div>
  <div>
    Unable to unsubscribe from  {{country}} ({{post}}) subscription.
    <br><br>
    <p>Try <a href="/login">logging in</a> to manage subscriptions. If problem
      persists, contact webmaster@somewhere.com
    </p>
  </div> 
  {{/if}}
</div>
