<div class="container mt-4 mb-4">
{{#if unsubscribed}}
  {{#if updated}}
  <h1 class="text-center mt-2 sr-only">Unsubscribed!</h1>
  <div>
    <div class="usa-alert usa-alert--success max-width-900 mt-2 mt-md-4 mt-lg-5">
      <div class="usa-alert__body">
	<span>
	  <h2 class="h3 usa-alert__heading">Unsubscribed! <a class="usa-link sm" href="/unsubscribeTok?tok={{doTok}}">undo</a></h2>
	</span>
	<p class="usa-alert__text">{{username}} has been successfully unsubscribed from this subscription to {{country}} ({{post}}).</p>
      </div>
    </div>
  </div>
  {{else if alreadyUpdated}}
  <h1 class="text-center mt-2 sr-only">Unsubscribed Already!</h1>
  <div class="usa-alert usa-alert--info max-width-900 mt-2 mt-md-4 mt-lg-5">
    <div class="usa-alert__body">
      <span>
	<h2 class="h3 usa-alert__heading">Already unsubscribed! <a class="usa-link sm" href="/unsubscribeTok?tok={{doTok}}">undo</a></h2>
      </span>
      <p class="usa-alert__text">{{username}} has already been successfully unsubscribed from this subscription to {{country}} ({{post}}).</p>
    </div>
  </div>
  
  {{/if}}<!-- end of updated -->
  {{#if additionalSubs}}
  <!-- if user has more than one active subscription to the post they just tried
       to unsubscribe from, we should let them know to avoid confusion when they
       still receive emails about that post's rate changes
    -->
  <div class="usa-alert usa-alert--warning max-width-900  mt-2 mt-md-4 mt-lg-5" >
    <div class="usa-alert__body">
      <h2 class="h3 usa-alert__heading">Additional subscriptions</h2>
      <p class="usa-alert__text">{{username}} has {{numberAdditionalSubs}} additonal active subscriptions to {{country}} ({{post}}).</p>
    </div>
  </div>
  {{/if}}
{{else if resubscribed}}
  {{#if updated}}
  <h1 class="text-center mt-2 sr-only">Resubscribed!</h1>
  <div>
    <div class="usa-alert usa-alert--success max-width-900  mt-2 mt-md-4 mt-lg-5">
      <div class="usa-alert__body">
	<span>
	  <h2 class="h3 usa-alert__heading">Resubscribed! <a class="usa-link sm" href="/unsubscribeTok?tok={{doTok}}">undo</a></h2>
	</span>
	<p class="usa-alert__text">{{username}} has been successfully resubscribed to this subscription to {{country}} ({{post}}).</p>
      </div>
    </div>
  </div>
  {{else if alreadyUpdated}}
  <h1 class="text-center mt-2 sr-only">Unsubscribed Already!</h1>
  <div class="usa-alert usa-alert--info max-width-900  mt-2 mt-md-4 mt-lg-5">
    <div class="usa-alert__body">
      <span>
	<h2 class="h3 usa-alert__heading">Already resubscribed! <a class="usa-link sm" href="/unsubscribeTok?tok={{doTok}}">undo</a></h2>
      </span>
      <p class="usa-alert__text">{{username}} has already been successfully resubscribed to this subscription to {{country}} ({{post}}).</p>
    </div>
  </div>
  
  {{/if}}<!-- end of updated -->
{{else if error}}
  <h1 class="text-center sr-only">An error has occurred</h1>
  <div class="usa-alert usa-alert--error max-width-900 mt-2 mt-md-4 mt-lg-5" >
    <div class="usa-alert__body">
      <h2 class="h3 usa-alert__heading">Something went wrong...</h2>
      <p class="usa-alert__text">It appears the URL is invalid. Please try again.
      </p>
    </div>
  </div>
  {{/if}} <!-- end of unsubscribed -->
  <br>
  {{#if loggedIn}}

  {{else}}
  <div>
    <p>
      <a class="usa-link" href="/login">Login</a> to manage other subscriptions.
    </p>
  </div>
  {{/if}}
</div>
<br><br>
