<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="canonical" href="https://..."/>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    {{#each style}}
    <link rel="stylesheet" type="text/css" href="/css/{{this}}"></link>
    {{/each}}
  </head>
  <body>
    <p>
      A password reset has been requested for {{email}}.
    </p>
    <p>
      <a href="{{host}}/reset_password?token={{jwt}}&id={{userId}}">Click here</a> to reset password (link expires in 1 hour).
      </p>
  </body>
</html>
